# General exclusions
docs/
metadrive/
wandb/

cleanrl/eval/
cleanrl/models/CNN/
cleanrl/ppo_continuous_action_isaacgym/
cleanrl/runs/
cleanrl/ppoeql_ocatari_videos/
cleanrl/ppoeql_stack_cnn_out_frames/
cleanrl/sam_track/
cleanrl/wandb/
cleanrl/equations/
__pycache__
*.pyc
*.csv

# Re-include this specific sub-folder inside cleanrl/sam_track
!cleanrl/sam_track/assets/
!cleanrl/sam_track/assets/Pong_input/
!cleanrl/sam_track/assets/Pong_input/Pong_input_masks_test/
!cleanrl/sam_track/assets/Pong_input/Pong_input_masks_train/
