cleanrl/__pycache__/
cleanrl/agents/__pycache__/
cleanrl/agents/eql/__pycache__/
cleanrl/wandb
cleanrl/ppoeql_stack_cnn_out_frames/
cleanrl/models/
cleanrl/runs/
cleanrl/stack_cnn_out_frames/
#!cleanrl/sam_track/benchmark_data
#!cleanrl/sam_track/benchmark_fsam.qmd
cleanrl/sam_track/assets/*.mp4
.gitignore*.pyc
*.mp4
cleanrl/benchmark_object_detection/images
